* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
}

.social-tree {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.profile img {
  padding: 0.4rem;
  height: 16rem;
  width: 16rem;
  border: 2px solid #BB99DD;
  border-radius: 9999px;
}

.profile p {
  color: #BB99DD;
  font-size: 300;
}

.links {
  display: flex;
  flex-direction: column;
}

.links button {
  cursor: pointer;
  color: #BB99DD;
  background-color: transparent;
  margin-bottom: 1rem;
  width: 20rem;
  height: 3rem;
  border: 2px solid #BB99DD;
  border-radius: 4px;
  text-decoration: none;
  gap: 2rem;
  transition: all 0.4s;
}

.links button:hover {
  color: white;
  background-color: #BB99DD;
}

.social {
  display: flex;
  margin-top: 2rem;
  gap: 1rem;
}